{% extends 'security/base.html.twig' %}

{% block box %}
    <div class="login-box">
        <div class="login-logo">
            Reset your password
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <div style="padding-bottom:30px">
                    <a href="{{ path('app_homepage') }}" class="btn btn-tool btn-sm float-right">
                        <i class="fas fa-times"></i>
                    </a>
                </div>

                {% for flashError in app.flashes('error') %}
                    <p class="login-box-msg text-danger">{{ flashError }}</p>
                {% endfor %}

                {% for flashSuccess in app.flashes('success') %}
                    <p class="login-box-msg text-success">{{ flashSuccess }}</p>
                {% endfor %}

                {% if isRequestSent == false %}
                    {{ form_start(requestForm) }}

                        <div class="input-group mb-3">
                            {{ form_widget(requestForm.email) }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>

                        <p>
                            <small>
                                Enter your email address and we we will send you a
                                link to reset your password.
                            </small>
                        </p>

                        <button type="submit" class="btn btn-primary btn-block mb-3">Send password reset email</button>

                        <p class="mb-1">
                            <a href="{{ path('app_login') }}">Back to login</a>
                        </p>
                        <p>
                            <a href="{{ path('app_register') }}" class="text-center">Register as a new member</a>
                        </p>

                    {{ form_end(requestForm) }}
                {% else %}
                    <a class="btn btn-primary btn-block mt-3" href="{{ path('app_login') }}">Back to login</a>
                {% endif %}
            </div>
        </div>


    </div>
{% endblock %}
