{% extends 'security/base.html.twig' %}

{% block box %}
<div class="login-box">
    <div class="login-logo">
        Reset your password
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            {{ form_start(resetForm) }}
                <div style="padding-bottom:30px">
                    <a href="{{ path('app_homepage') }}" class="btn btn-tool btn-sm float-right">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <div class="form-error text-danger">
                    {{ form_errors(resetForm.plainPassword.first) }}
                </div>

                {% for passwordField in resetForm.plainPassword %}
                    <div class="input-group mb-3">
                        {{ form_widget(passwordField) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Reset password</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
</div>
{% endblock %}
