{% extends('base.html.twig') %}

{% block content %}

    <div class="row" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">
        <div class=" mt-3 d-none d-sm-none d-md-inline-block col-md-5 col-lg-7">
            <img src="{{ asset('build/images/app/om.png') }}" width=100%" style="opacity:0.2;"/>
        </div>

        <div class="col-12 col-md-7 col-lg-5">
            <div class="col-12 mt-3">
                <div class="card col-12">
                    <div class="card-body text-center">
                        <h4 style="margin-bottom:30px; color:#df3487; font-weight: bold;">Share, Inspire & Get Inspired</h4>
                        <div style="font-size: 16px;">
                            <p>
                                {% if app.user is null %}
                            <div>
                                &bull; Become a Member <a href="{{ path('app_register') }}"> - register for free</a>
                            </div>
                            {% endif %}
                            </p>
                            <p>&bull; Share your yoga-related experience and stories</p>
                            <p>&bull; Start your own yoga blog or promote existing one</p>
                            <p>
                                &bull; Follow us on:
                                <a href="https://www.facebook.com/We-Are-Yogis-104741168390586" style="padding-right:10px; padding-bottom:20px;" target="_blank" >
                                    <i class="tooltip-show fab fa-facebook-square fa-lg" title="follow on facebook" style="width:25px; color:#3b5998;"></i>
                                </a>
                                <a href="https://www.instagram.com/weareyogis.network" style="padding-right:10px; padding-bottom:20px;" target="_blank" >
                                    <i class="tooltip-show fab fa-instagram fa-lg" title="follow on instagram" style="width:25px; color:purple"></i>
                                </a>
                                <a href="https://twitter.com/AreYogis" style="padding-right:10px; padding-bottom:20px;" target="_blank" >
                                    <i class="tooltip-show fab fa-twitter fa-lg" title="follow on twitter" style="width:25px; color:#00acee;"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/weareyogis" style="padding-right:10px; padding-bottom:20px;" target="_blank" >
                                    <i class="tooltip-show fab fa-linkedin fa-lg" title="follow on linkedin" style="width:25px; color:#0e76a8;"></i>
                                </a>
                            </p>
                            {% if app.user %}
                                <p>and of course, feel free to invite others to join...</p>
                            {% endif %}

                            {#
                            <li><p>Ask a question in our forum section, or start an interesting discussion topic.</p></li>
                            <li><p>Organize free online events for other members such as satsang, yoga classes, or online meditation.</p></li>
                            <li><p>If you are a yoga teacher, promote your yoga studio and classes, your own networks and communities.</p></li>
                            <li><p>For all Yoga organizations and Ashrams, feel free to promote your teachings and programs.</p></li>
                            #}
                            <p>
                            <hr>

                            <a href="{{ path('app_legal_page', {'page': 'privacy'}) }}" style=" {% if currentPath == '/legal/privacy' %}{{ footerSelected }}{% endif %}">Privacy Policy</a>&nbsp;&nbsp;
                            |&nbsp;&nbsp;<a href="{{ path('app_legal_page', {'page': 'terms'}) }}" style=" {% if currentPath == '/legal/terms' %}{{ footerSelected }}{% endif %}">Terms of Service</a>&nbsp;&nbsp;
                            |&nbsp;&nbsp;<a href="{{ path('app_legal_page', {'page': 'disclaimer'}) }}" style=" {% if currentPath == '/legal/disclaimer' %}{{ footerSelected }}{% endif %}">Disclaimer</a>

                            </p>
                        </div>
                    </div>
                </div>
                {#
                <div class="card col-12">
                    <div class="card-body">
                        <h4 style="color:#0b88d0; font-weight: bold;">Web Platform Development</h4>
                        <div class="mt-4" style="font-size: 16px;">
                            <p>
                                If you wish to help building the web platform itself and
                                <ul>
                                    <li>
                                        <p>
                                           posses technical knowledge in web development (e.g. using PHP), web design, app development, test automation, server administration, or similar...
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            or you are social network guru with business development background & experience...
                                        </p>
                                    </li>
                                </ul>
                                feel free to <a href="{{ path('app_contact_us') }}">contact us</a> to discuss the best way you can contribute and help.
                            </p>
                        </div>
                    </div>
                </div>
                #}
            </div>

            <div class="col-12 mt-3">
                {% if app.user %}
                    <div class="card col-12">
                        <div class="card-body text-center">
                            <h4 style="margin-bottom:22px; color:#df3487; font-weight: bold;">Become a Patron</h4>
                            <div style="font-size: 16px;">
                                <p class="mt-2">
                                    <img class="" title="patron wings" src="{{ asset('build/images/app/patron-wings.png') }}" style="width:100%; max-width:200px;"/>
                                </p>
                                <p class="mt-4">
                                <form action="https://www.paypal.com/donate" method="post" target="_top">
                                    <input type="hidden" name="hosted_button_id" value="UDUZSX8URAQEJ" />
                                    <input class="tooltip-show" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="Go to PayPal" alt="Donate with PayPal button" />
                                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                                </form>
                                </p>
                                <p class="mt-2">
                                <hr>
                                *all recurring donations, or a donation above 20&#36; will earn you the Patron wings.
                                </p>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <div class="card col-12">
                        <div class="card-body text-center">
                            <h4 style="margin-bottom:30px; color:#df3487; font-weight: bold;">Get Engaged</h4>
                            <p class="mt-3">
                                <a href="{{ path('app_user_create_post') }}" class="btn btn-default" style="min-width:180px; border-radius:20px;">Create a Blog Post</a>
                            </p>
                            {#
                            <p>
                                <a href="{{ path('app_user_create_video_post') }}" class="btn btn-default" style="min-width:180px; border-radius:20px;">Add a Video Post</a>
                            </p>
                            #}
                            <p>
                                <a href="{{ path('app_register') }}" class="btn btn-default" style="min-width:180px; border-radius:20px;">Start a Discussion</a>
                            </p>
                            {#
                            <p>
                                <a href="{{ path('app_cockpit_event_create') }}" class="btn btn-default" style="min-width:180px; border-radius:20px;">Organize an Event</a>
                            </p>
                            #}
                            <p>
                                <a href="{{ path('app_register') }}" class="btn btn-default" style="min-width:180px; border-radius:20px;">Connect with Others</a>
                            </p>
                            <p>
                                <a href="{{ path('app_contact_us') }}" class="btn btn-primary" style="min-width:180px; border-radius:20px;">Contact Us</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}